{#
 # Filter for parameters that accepts
 # boolean and string values
 #
 # @param value : the value of the parameter
 # @return string
 #}
{%- macro stringOrBool(value) -%}
{{ value if value is string else bool(value) }}
{%- endmacro -%}

{#
 # Produce a boolean value in openssh format
 #
 # @param value : the value of the boolean
 # @return string
 #}
{%- macro bool(value, default=None) -%}
{{ value|bool|ternary('yes', 'no') }}
{%- endmacro -%}
