{#
 # Filter for parameters that accepts
 # boolean and string values
 #
 # @param value : the value of the parameter
 # @return string
 #}
{%- macro stringOrBool(value) -%}
{{ value if value is string else value|ternary('yes', 'no') }}
{%- endmacro -%}

{#
 # Produce a bind style list of items
 # Add a semi colon after each items
 #
 # @param value : the value of the parameter
 # @return string
 #}
{%- macro bool(value, default) -%}
{{ value|d(default)|bool|ternary('yes', 'no') }}
{%- endmacro -%}
